<app-navbar></app-navbar>
<section class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100" src="https://m.media-amazon.com/images/I/71jWmGzsANL._AC_UY741_.jpg">
        </div>

        <div class="col-lg-6 col-md-12 col-12">
            <h6>Man Gucci shirt</h6>
            <h3 class="py-4">Gucci Polo de manga corta</h3>
            <h2>$ 229.99</h2>
            <div class="select">
                <select class="form-select-lg my-3 form-select-color: #212121" >
                    <option selected>Choose your size</option>
                    <option value="1">S</option>
                    <option value="2">M</option>
                    <option value="3">L</option>
                </select>
            </div>
            <input type="number" value="1" style="background-color:transparent; color: blanchedalmond;" >
            <button>
                <span>Add To Cart</span><i></i>
            </button>
            <h4 class="mt-5 mb-5">Product Details</h4>
            <span>Aqui va la descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius necessitatibus ipsum similique voluptates alias fuga dolor praesentium repudiandae, esse unde deserunt neque, sit facilis officiis minima ea aut, doloribus ipsam.</span>

        </div>
    </div>
</section>