<app-navbar></app-navbar>
<section class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid ms-3" style="width: 75%;"
                src="https://m.media-amazon.com/images/I/71jWmGzsANL._AC_UY741_.jpg">
        </div>

        <div class="col-lg-6 col-md-12 col-12">
            <h3 class="py-4">{{productInfo.sex}} {{productInfo.name}}</h3>
            <h4 class="py-4">Size: {{productInfo.size}}</h4>
            <h4 class="mb-5">Company: {{productInfo.company.name}}</h4>
            <h2>Q.{{productInfo.price}}</h2>

            <div class="mt-5 d-flex">
                <button class="buttonPlus" (click)="addProduct(productInfo._id)">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg></span><i></i>
                </button>
                <div class="p-3 cartAdd">
                    <span>Add To Cart</span><i></i>
                </div>
                <button (click)="quitProduct(productInfo._id)">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                        </svg></span><i></i>
                </button>
            </div>

            <hr class="m-5 ms-0" *ngIf="identity == 'ADMIN'" />

            <div *ngIf="identity == 'ADMIN'" class="mt-5">
                <button class="buttonPlus me-2">
                    <span>Edit</span><i></i>
                </button>
                <button class="ms-2">
                    <span>Delete</span><i></i>
                </button>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>