<app-navbar></app-navbar>
<br>
<hr>

<!--Imagen del Carrito-->
<div class="text-center" >
    <i class="bi bi-cart-filf"></i>
    <svg class="homeRest" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-cart-fill white" viewBox="0 0 16 16">
        <path  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
</div>


<!--Tabla de Contenido-->
<div class="text-center">
    <div class="cards mt-5 container">
        <h4 class="card-header text-center">Shopping Cart</h4>
        <div class="card-body m-5 mt-1 table-responsive text-center">
            <button class="mb-3 mt-2 button1" data-bs-toggle="modal" data-bs-target="#addUser"> Add </button>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Times</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Users</th>
                        <th scope="col">Product</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                style="cursor: pointer;" class="bi actionBtn editBtn m-2 mb-0 mt-0 bi-pencil-square "
                                viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#updateUser">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                style="cursor: pointer;" class="bi actionBtn deleteBtn m-2 mb-0 mt-0 bi-file-earmark-x-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<hr>

<!--Cards-->
<div class="text-center">
    <h4> Resumen del Pedido</h4>
</div>
<div class="grid m-5 d-flex" style="flex-wrap: wrap;">
    <div class="ms-5 mt-5">
        <div class="card">
            <div class="card-img"></div>
            <div class="card-info">
                <p class="text-title text-black "></p>
                <p class="text-title text-black " style="font-size: 15px ;"><br> 
                
                </p>
            </div>
            <div class="card-footer">
                <span class="text-title">Resumen</span>
                <div class="card-button">
                 
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path
                            d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z">
                        </path>
                        <path
                            d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>