<app-navbar></app-navbar>

<div class="d-flex">
    <div class="m-5 text-center">
        <h1>Post</h1>
        <div class="btn btn-primary">Add</div>
    </div>
    <div class="m-5 ">



        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/959847771496644638/1001885029078683728/unknown.png"
                style="max-width: 102%; max-width: 102%;" />
            <div class="card-info">
                <p class="title">Usuario</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>