<app-navbar></app-navbar>
<!--
<div class="d-flex">
    <div class="m-5 text-center">
        <h1>Post</h1>
        <div class="btn btn-primary">Add</div>
    </div>
    
    <div class="m-5 ">


        
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/959847771496644638/1001885029078683728/unknown.png"
                style="max-width: 102%; max-width: 102%;" />
            <div class="card-info">
                <p class="title">Usuario</p>
            </div>
        </div>
    </div>
    
</div>
-->



<div class="contend">
    <div class="conteiner" *ngFor="let messa of messages">
        <div class="card text-white bg-info mb-2"
            style="max-width: 40rem; border-radius: 0.4rem; background-color:  rgba(49, 58, 66, 0.7); border-color: transparent;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <p class="card-text">{{messa.message}}</p>
            </div>
        </div>
    </div>
</div>
<form (ngSubmit)="createMessages(addMessageForm)" #addMessageForm="ngForm" class="form">
    <div class="text">
        <div class="input-group margin">

            <input [(ngModel)]="saveM.message" name="message" type="text" class="form-control" placeholder="Message"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button type="submit" class="input-group-text" id="basic-addon2">Send</button>
        </div>
    </div>
</form>




<app-footer></app-footer>