
.carousel-item {
    height: 40rem;
    background-color: #777;
    position: relative;
}

/*
.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}*/