<app-navbar></app-navbar>

<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-secondary shadow rounded overflow-hidden" style="border-radius: 7px !important; ">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head d-flex">
                    <div class="profile mr-3">
                        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            alt="Profile Image" width="130" class="m-3 profile-img">
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Name Last Name</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Username</p>
                    </div>
                </div>
            </div>
            <div class="bg-dark p-4 d-flex flex-row">
                <button type="button" class="btn btn-link"
                    style="color: #ffffff !important; text-decoration: none; background-color:rgba(44, 129, 186, 0.7); max-height: 70px;">Edit
                    profile</button>
                <div class="justify-content-end data">
                    <ul class="list-inline mb-0 justify-content-end text-center">
                        <li class="list-inline-item text-center me-3">
                            <h5 class="font-weight-bold mb-0 d-block">CLIENT</h5><small class="text-muted"> <i
                                    class="fas fa-image mr-1"></i>Role</small>
                        </li>
                        <li class="list-inline-item text-center ms-2">
                            <h5 class="font-weight-bold mb-0 d-block">123456789123</h5><small class="text-muted"> <i
                                    class="fas fa-user mr-1"></i>Phone</small>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="px-4 py-3 mt-2 mb-2">
                <h5 class="mb-0 mt-2">Info</h5>
                <div class="p-4 rounded mt-0">
                    <p class="font-italic mb-0">Email</p>
                    <p class="font-italic mb-0">Country</p>
                    <p class="font-italic mb-0">Password</p>
                </div>
            </div>
            <div class="px-4 py-3 mt-2 mb-2">
                <h5 class="mb-0 mt-2">About you</h5>
                <div class="p-4 rounded shadow-sm bg-primary mt-4">
                    <p class="font-italic mb-2">Tell us about you</p>

                </div>
            </div>
            <div class="footer m-3 mb-4">
                <button class="btn-delete ms-2" (click)="deleteAccount()"> Delete Account </button>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>