.gallery{
    margin: 20px;
}
.galleryCont{
    width: 100%;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.galleryCont .img_gallery{
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
}

.galleryCont .img_gallery img{
    max-width: 100%;
   border-radius: 15px;
}



