.gallery{
    margin: 20px;
}
.galleryCont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.galleryCont img{
    width: auto;
    max-height: 300px;
    height: auto;
}